html, body {
  height: 100%;
}

body {
  color: hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

main {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  width: 75%;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 700;
}

.icon-star {
  width: 17px;
  height: 16px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-list {
  width: 100%;
  margin: 1rem auto;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  border: 1px solid hsl(300, 24%, 96%);
  border-radius: 5px;
  margin: 1rem auto;
  padding: .5rem;
}

.rating-header {
  font-weight: 700;
  padding-top: .5rem;
}

.review {
  border: 1px solid hsl(300, 43%, 22%);
  border-radius: 5px;
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  padding: 1.5rem;
  text-align: start;
  margin: 1rem auto;
}

.review-header {
  display: flex;
  align-self: flex-start;
  padding-bottom: 1rem;
}

.review-header > span {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.user-pfp {
  width: 2rem;
  height: auto;
  border: 1px solid hsl(300, 43%, 22%);
  border-radius: 50%;
}

.review-username {
  color: hsl(0, 0%, 100%);
  text-align: start;
}

.user-status {
  color: hsl(333, 80%, 67%);
  text-align: start;
}

@media (min-width: 767px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-header {
    flex: 2;
    text-align: start;
  }

  h1 {
    margin: 2rem 0 0 0;
    width: 75%;
  }

  .product-statement {
    width: 75%;
  }

  .rating-list {
    flex: 2;
    width: fit-content;
  }

  .rating-list > li:nth-child(1) {
    margin-left: 1rem;
    margin-right: 4rem;
  } 

  .rating-list > li:nth-child(2) {
    margin-left: 3rem;
    margin-right: 2rem;
  }

  .rating-list > li:nth-child(3) {
    margin-left: 5rem;
  }

  .rating {
    flex-direction: row;
    align-items: center;
  }

  .rating-header {
    padding-left: 1rem;
  }

  .reviews-list {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
  }

  .review {
    width: 30%;
    height: 50%;
  }

  .reviews-list > li:nth-child(1) {
    margin-right: 2rem;
  }

  .reviews-list > li:nth-child(2) {
    position: relative;
    top: 1rem;
    right: 1rem;
  }

  .reviews-list > li:nth-child(3) {
    position: relative; 
    top: 2rem;
  }
}
