body {
  color: hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon-star {
  width: 17px;
  height: 16px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-list {
  width: 100%;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  border: 1px solid hsl(300, 24%, 96%);
  border-radius: 3px;
  margin: .5rem auto;
  padding: .5rem;
}

.rating-header {
  font-weight: 700;
  padding-top: .5rem;
}